<!-- @format -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GroupM</title>

    <!-- Font Preloading -->
    <link
      rel="preload"
      href="/public/fonts/CassandraPersonalUse/CassandraPersonalUse-Regular.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/public/fonts/CerebriSansPro/CerebriSansPro-Regular.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />

    <!-- title logo -->
    <link rel="icon" href="/public/images/group.png" type="image/icon type" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css?v=2"
    />

    <!-- jQuery -->
    <script src="/public/plugins/jquery/jquery.min.js?v=2"></script>

    <!-- Bootstrap -->
    <link
      href="/public/plugins/bootstrap/css/bootstrap.min.css?v=2"
      rel="stylesheet"
    />

    <!-- MDB5  -->
    <link href="/public/plugins/mdb5/css/mdb.min.css?v=2" rel="stylesheet" />

    <!-- Select2 -->
    <link
      rel="stylesheet"
      href="/public/plugins/select2/css/select2.min.css?v=2"
    />
    <script src="/public/plugins/select2/js/select2.min.js?v=2"></script>

    <!-- DataTable -->
    <link
      rel="stylesheet"
      href="/public/plugins/dataTables/datatables.min.css?v=2"
    />

    <!-- Responsive Datatable -->
    <link
      rel="stylesheet"
      href="/public/plugins/dataTables/datatables.responsive.min.css?v=2"
    />

    <!-- Toast -->
    <link rel="stylesheet" href="/public/plugins/Toastr/toastr.min.css?v=2" />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="/public/plugins/font-awesome/css/all.min.css?v=2"
    />

    <!-- jQuery Confirm -->
    <link
      rel="stylesheet"
      href="/public/plugins/jquery-confirm/css/jquery-confirm.min.css?v=2"
    />

    <!-- Slide-in Panel -->
    <link
      rel="stylesheet"
      href="/public/plugins/slide-in-panel/css/slidePanel.min.css?v=2"
    />

    <!-- Tippy -->
    <link rel="stylesheet" href="/public/plugins/tippy/scale.css?v=2" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/public/css/style.css?v=2" />

    <style type="text/css">
      @font-face {
        font-family: "CassandraPersonalUse";
        src: url("/public/fonts/CassandraPersonalUse/CassandraPersonalUse-Regular.ttf?v=2")
          format("truetype");
      }

      @font-face {
        font-family: "CerebriSansPro-Regular";
        src: url("/public/fonts/CerebriSansPro/CerebriSansPro-Regular.ttf?v=2")
          format("truetype");
      }

      body {
        font-family: "CerebriSansPro-Regular";
        background-color: #f7f9fd;
        text-transform: none !important;
      }

      #closeVehiclePanelBtn,
      .panelClose {
        cursor: pointer;
      }

      .toast {
        opacity: 1 !important;
      }

      .show-dot {
        display: none !important;
      }

      #lastMenu {
        border-right: 0px solid #414a57;
      }

      .btn {
        text-transform: none;
      }

      .bg-danger,
      .btn-red {
        background-color: #e8763e !important;
        text-transform: none;
      }

      .procurementSpendBtn.btn-danger {
        background-color: rgba(31, 45, 62, 0.8);
        text-transform: none;
      }

      .procurementSpendBtn.btn-danger:hover {
        background-color: rgba(31, 45, 62, 0.8);
        text-transform: none;
      }

      .procurementSpendBtn.btn-outline-danger {
        border-color: rgba(31, 45, 62, 0.8) !important;
        color: rgba(31, 45, 62, 0.8) !important;
        text-transform: none;
        box-shadow: none !important;
        /* --webkit-background-clip: padding-box;
        background-clip: padding-box; */
      }

      .procurementSpendBtn.btn-outline-danger:hover {
        border-color: rgba(31, 45, 62, 0.8) !important;
        color: rgba(31, 45, 62, 0.8) !important;
        /* -webkit-background-clip: padding-box;
        background-clip: padding-box; */
      }

      .topMenu-item {
        display: block;
        text-align: center;
        text-decoration: none;
        width: 100px;
        cursor: pointer;
      }

      .topMenu-item:hover:not(.topMenu-item-active) {
        /* border-bottom: 1px solid #ea5455; */
        color: #ea5455 !important;
        /* font-weight: bold; */
        transition: right 0.3s ease;
        cursor: pointer;
      }

      .topMenu-item-active {
        /* border-bottom: 1px solid #ea5455; */
        color: #ea5455 !important;
        /* background-color: #f07b3f; */
        /* border-radius: 8px; */
        transition: right 0.3s ease;
        /* font-weight: bold; */
      }

      .topMenu-item-active .icon-button {
        /* border-bottom: 1px solid #ea5455; */
        background-color: #ea5455 !important;
        color: white;

        /* background-color: #f07b3f; */
        /* border-radius: 8px; */
        transition: right 0.3s ease;
        /* font-weight: bold; */
      }

      .topMenu-item-active .icon-label {
        font-weight: 600;
      }

      .tippy-box[data-theme~="tomato"] {
        background-color: #4f4f4f;
        color: white;
      }

      .edit,
      .view,
      .close,
      .del {
        cursor: pointer;
      }

      .slideInPanel {
        z-index: 9999;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -600px;
        width: 400px;
        background-color: rgba(31, 45, 62);
        color: #e3e3e3;
        height: 90vh;
        /* box-shadow: 0 0 0px rgba(0, 0, 0, 0.2); */
        transition: right 0.3s ease;
        border-radius: 8px;
      }

      /* Input */
      .slideInPanel input {
        background-color: transparent !important;
        border-color: rgba(98, 114, 147, 0.6);
        color: white;
      }

      .slideInPanel input::webkit-calen .slideInPanel input:focus {
        background-color: transparent !important;
        color: white;
      }

      .slideInPanel input:hover {
        background-color: transparent !important;
        border-color: #627293;
        color: white;
      }

      /* Select */
      .slideInPanel .select2-container {
        background-color: transparent !important;
        border-color: rgba(98, 114, 147, 0.6) !important;
        color: 627293 !important;
      }

      .select2-container {
        width: 100% !important;
      }

      .select2-selection__rendered,
      .select2-selection__clear,
      .select2-selection__arrow {
        color: white !important;
        margin-top: 0.25rem !important;
      }

      .slideInPanel .select:focus {
        background-color: transparent !important;
        border-color: #627293;
      }

      .slideInPanel .select2-container:hover {
        border-color: #627293;
      }

      /* TextArea */
      .slideInPanel textarea {
        background-color: transparent !important;
        border-color: rgba(98, 114, 147, 0.6);
      }

      .slideInPanel textarea:focus {
        background-color: transparent !important;
      }

      .slideInPanel textarea:hover {
        border-color: rgba(98, 114, 147, 0.6);
      }

      Form Control .slideInPanel .form-control {
        color: #f7f9fc;
      }

      .slideInPanel .form-control::placeholder {
        color: #627293;
      }

      .select2-selection::placeholder {
        color: #627293;
      }

      .page-item.active .page-link {
        color: #fff !important;
        background-color: #ea5455 !important;
        border-color: #ea5455 !important;
      }

      .page-link {
        color: #000 !important;
        background-color: #fff !important;
        border: 1px solid #dee2e6 !important;
      }

      .page-link:hover {
        color: #fff !important;
        background-color: #f17979 !important;
        border-color: #ea5455 !important;
      }

      .select2-selection {
        background-color: transparent !important;
        border-color: rgba(98, 114, 147, 0.6) !important;
        height: 35px !important;
      }

      .select2-dropdown {
        z-index: 10000 !important;
      }

      table.dataTable th {
        text-align: left !important;
      }

      fieldset {
        border-color: rgba(129, 145, 179, 0.6) !important;
        border-radius: 4px;
      }

      legend {
        margin-top: -1.7rem !important;
        background-color: #e0e0e0;
        color: #1f2d3e;
        border-radius: 4px;
        font-size: inherit !important;
      }

      #appendOutput:hover {
        background-color: rgb(135, 49, 177);
        background-color: linear-gradient(
          90deg,
          rgba(135, 49, 177, 1) 1%,
          rgba(191, 24, 188, 1) 35%,
          rgba(209, 52, 174, 1) 68%,
          rgba(217, 29, 115, 1) 100%
        );
        color: white;
      }

      /*
      #appendOutput {
        color: rgba(98, 114, 147, 0.6) !important;
      } */

      .st-theme-brick > .nav .nav-link.active {
        background-color: #dc4c64 !important;
      }

      .st-theme-brick > .nav .nav-link {
        color: #dc4c64 !important;
      }

      .st-theme-brick > .nav {
        border-color: #dc4c64 !important;
      }

      .vl {
        border-left: 2px dashed rgba(98, 114, 147, 0.6);
        height: 25px;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        /* bottom: -10; */
      }

      .vl-top {
        border-left: 2px dashed rgba(98, 114, 147, 0.6);
        height: 35px;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        /* bottom: -10; */
      }

      .tippy-box {
        /* background-color: white !important; */
        max-width: 100% !important;
        /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175); */
      }

      .canvasjs-chart-credit {
        display: none;
      }

      .icon-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: white;
        /* border: 2px solid #ddd; */
        border-radius: 50%;
        /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
        text-decoration: none;
        color: #333;
        transition:
          background-color 0.3s,
          color 0.3s,
          box-shadow 0.3s;
      }

      .icon-button i {
        font-size: 12px;
      }

      .icon-label {
        font-size: 14px;
        /* font-weight: 600; */
      }

      /* Styles for mobile screens */
      @media screen and (max-width: 480px) {
        .dashboardCard {
          width: 100%;
        }

        .chartBtnTxt {
          display: none;
        }

        .chartBtnIcn {
          display: block;
        }
      }

      /* Styles for iPads, tablets */
      @media screen and (min-width: 481px) and (max-width: 768px) {
        .dashboardCard {
          width: 100%;
        }

        .chartBtnTxt {
          display: none;
        }

        .chartBtnIcn {
          display: block;
        }
      }

      /* Styles for Small screens, laptops */
      @media screen and (min-width: 769px) and (max-width: 1024px) {
        .dashboardCard {
          width: 100%;
        }

        .chartBtnTxt {
          display: block;
        }

        .chartBtnIcn {
          display: none;
        }
      }

      /* Styles for Desktops, large screens */
      @media screen and (min-width: 1025px) and (max-width: 1200px) {
        .dashboardCard {
          width: 49.5%;
        }

        .chartBtnTxt {
          display: block;
        }

        .chartBtnIcn {
          display: none;
        }
      }

      /* Styles for extra large screens */
      @media screen and (min-width: 1201px) {
        .dashboardCard {
          width: 49.5%;
        }

        .chartBtnTxt {
          display: block;
        }

        .chartBtnIcn {
          display: none;
        }
      }
    </style>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row d-flex justify-content-center">
        <!-- ------------------------------------------------------------------------------------------------------------- -->
        <!-- ------------------------------------------ Dashboard Container ---------------------------------------------- -->
        <!-- ------------------------------------------------------------------------------------------------------------- -->
        <div class="menu-container dashboardContainer">
          <div class="row d-flex justify-content-between">
            <div class="dashboardCard mt-3 border rounded pt-4 px-4">
              <div class="dashboardCard-Header d-flex justify-content-between">
                <span class="fw-bold">Success Rate Analysis</span>
                <select
                  id="supplierPerformanceScorecardChartFilter"
                  class="form-select form-select-sm me-2"
                  style="
                    height: 28px !important;
                    padding-top: 5px;
                    right: 0;
                    width: 7rem;
                  "
                >
                  <option value="7" selected>7 days</option>
                  <option value="30">30 days</option>
                  <option value="90">3 months</option>
                  <option value="180">6 months</option>
                  <!-- <option value="Date Range">Custom Range</option> -->
                </select>
              </div>
              <div class="dashboardCard-Body py-4" style="height: 50vh">
                <div
                  id="supplierPerformanceScorecardChart"
                  style="height: 100%"
                ></div>
              </div>
            </div>

            <div class="dashboardCard mt-3 border rounded pt-4 px-4">
              <div class="dashboardCard-Header d-flex justify-content-between">
                <span class="fw-bold">Failure Rate Analysis</span>
                <select
                  id="procurementAgeByProductsFilter"
                  class="form-select form-select-sm me-2"
                  style="
                    height: 28px !important;
                    padding-top: 5px;
                    right: 0;
                    width: 7rem;
                  "
                >
                  <option value="7" selected>7 days</option>
                  <option value="30">30 days</option>
                  <option value="90">3 months</option>
                  <option value="180">6 months</option>
                  <!-- <option value="Date Range">Custom Range</option> -->
                </select>
              </div>
              <div class="dashboardCard-Body py-4" style="height: 50vh">
                <div
                  id="procurementAgeByProductsChart"
                  style="height: 100%"
                ></div>
              </div>
            </div>

            <div class="dashboardCard mt-3 border rounded pt-4 px-4">
              <div class="dashboardCard-Header d-flex justify-content-between">
                <span class="fw-bold">API Based Analysis</span>
                <select
                  id="procurementAnalysisByDateChartFilter"
                  class="form-select form-select-sm me-2"
                  style="
                    height: 28px !important;
                    padding-top: 5px;
                    right: 0;
                    width: 7rem;
                  "
                >
                  <option value="7" selected>7 days</option>
                  <option value="30">30 days</option>
                  <option value="90">3 months</option>
                  <option value="180">6 months</option>
                  <!-- <option value="Date Range">Custom Range</option> -->
                </select>
              </div>
              <div class="dashboardCard-Body py-4" style="height: 50vh">
                <div
                  id="procurementAnalysisByDateChart"
                  style="height: 100%"
                ></div>
              </div>
            </div>

            <div class="dashboardCard mt-3 border rounded pt-4 px-4">
              <div class="dashboardCard-Header d-flex justify-content-between">
                <span class="fw-bold">Source IP Analysis</span>
                <select
                  id="procurementSpendChartFilter"
                  class="form-select form-select-sm me-2"
                  style="
                    height: 28px !important;
                    padding-top: 5px;
                    right: 0;
                    width: 7rem;
                  "
                >
                  <option value="7" selected>7 days</option>
                  <option value="30">30 days</option>
                  <option value="90">3 months</option>
                  <option value="180">6 months</option>
                  <!-- <option value="Date Range">Custom Range</option> -->
                </select>
              </div>
              <div class="dashboardCard-Body py-4" style="height: 50vh">
                <div id="procurementSpend" style="height: 100%"></div>
              </div>
            </div>
          </div>
        </div>

        <!-- Dashboard Ends -->

        <!-- ------------------------------------------------------------------------------------------------------------- -->
        <!-- ------------------------------------------ Purchases Container ---------------------------------------------- -->
        <!-- ------------------------------------------------------------------------------------------------------------- -->
        <div class="menu-container procurementContainer d-none">
          <!-- Slide-in Panel -->
          <div
            id="procurementSlideInPanel"
            class="slideInPanel px-4 overflow-auto"
          >
            <div class="row d-flex justify-content-center">
              <div class="col-sm-12 col-md-12 col-md-12">
                <div class="text-center mt-4 d-flex justify-content-between">
                  <span id="procurementPanelHeading" class="fw-bold"
                    >Add Procurement Data</span
                  >
                  <div class="col my-auto d-flex justify-content-end">
                    <i
                      class="fa-solid fa-circle-xmark my-auto panelClose"
                      id="closeProcurementPanelBtn"
                    ></i>
                  </div>
                </div>
                <hr />
                <div>
                  <div class="form-group my-2">
                    <label for="procurement_date">Date of Purchase</label>
                    <input
                      type="date"
                      class="form-control"
                      id="procurement_date"
                      name="procurementDate"
                      required
                    />
                  </div>

                  <div class="form-group my-2">
                    <label for="procurement_unit">Purchase Source</label>
                    <select
                      id="procurement_unit"
                      class="form-control input-dropdown w-100"
                      name="procurement_unit"
                      required
                    ></select>
                  </div>
                  <div class="form-group my-2">
                    <label for="procurement_product_type">Product Type</label>
                    <select
                      id="procurement_product_type"
                      class="form-control input-dropdown w-100"
                      name="procurementProductType"
                      required
                    ></select>
                  </div>
                  <div class="form-group my-2">
                    <label for="procurement_product">Product</label>
                    <select
                      id="procurement_product"
                      class="form-control input-dropdown w-100"
                      name="procurementProduct"
                      required
                    ></select>
                  </div>
                  <div class="form-group my-2">
                    <label for="procurement_quantity"> Quantity (kg)</label>
                    <input
                      id="procurement_quantity"
                      maxlength="10"
                      class="form-control"
                      placeholder="eg. 24"
                      type="number"
                      name="procurementQuantity"
                    />
                  </div>
                  <div class="form-group my-2">
                    <label for="procurement_price">Price per KG</label>
                    <input
                      id="procurement_price"
                      maxlength="10"
                      class="form-control"
                      placeholder="eg. 24"
                      type="number"
                      name="procurement_price"
                    />
                  </div>
                  <div class="form-group my-3">
                    <label for="procurement_product_supplier"
                      >Supplier Name</label
                    >
                    <select
                      id="procurement_product_supplier"
                      class="form-control input-dropdown w-100"
                      name="procurementProductSupplier"
                      required
                    ></select>
                  </div>
                  <div class="form-group my-2">
                    <label for="procurement_purchaser">Purchaser</label>
                    <input
                      id="procurement_purchaser"
                      class="form-control"
                      placeholder="eg. Smith"
                      type="text"
                      name="procurementPurchaser"
                    />
                  </div>
                  <div class="d-flex justify-content-between mt-4 py-3 pb-4">
                    <div id="submitPurchases" class="col-lg-5 btn btn-danger">
                      Save
                    </div>
                    <div
                      id="resetProcurementDataBtn"
                      class="col-lg-5 btn btn-outline-danger"
                    >
                      Clear
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Table Content -->
          <div class="rounded-2 d-flex justify-content-center mt-4 py-4">
            <div class="border p-4 w-100">
              <!-- Add Button -->
              <div class="d-flex rounded-2 justify-content-end pb-4">
                <div
                  id="openProcurementPanelBtn"
                  class="btn btn-outline-danger d-flex justify-content-around"
                  style="width: 100px"
                >
                  <i class="fa-solid fa-circle-plus my-auto"></i>
                  <span style="margin-top: 4px" class="fw-bold my-auto"
                    >Add</span
                  >
                </div>
              </div>
              <table
                id="procurementTable"
                class="table table-hover nowrap w-100"
              >
                <thead>
                  <tr>
                    <th></th>
                    <th class="fw-bold"><span>Purchase Date</span></th>
                    <th class="fw-bold"><span>Lot no</span></th>
                    <th class="fw-bold"><span>Total Product Items</span></th>
                    <th class="fw-bold">
                      <span>Total Purchased Quantity</span>
                    </th>
                    <th class="fw-bold"><span>Total Purchased Price</span></th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>

        <!-- Purchases Container Ends -->
      </div>
    </div>
  </body>

  <script src="/public/plugins/bootstrap/js/bootstrap.min.js?v=2"></script>

  <script src="/public/plugins/mdb5/js/mdb.es.min.js?v=2"></script>

  <script src="/public/plugins/dataTables/datatables.min.js?v=2"></script>
  <script src="/public/plugins/dataTables/dataTables.bootstrap5.min.js?v=2"></script>

  <script src="/public/plugins/dataTables/datatables.responsive.min.js?v=2"></script>

  <script src="/public/plugins/Toastr/toastr.min.js?v=2"></script>

  <!-- perfect-scrollbar plugin -->
  <script src="/public/plugins/perfect-scrollbar/perfect-scrollbar.min.js?v=2"></script>

  <script src="/public/plugins/jquery-confirm/js/jquery-confirm.min.js?v=2"></script>

  <script src="/public/plugins/slide-in-panel/js/slidePanel.min.js?v=2"></script>

  <script src="/public/plugins/tippy/popper.min.js?v=2"></script>
  <script src="/public/plugins/tippy/tippy-bundle.umd.min.js?v=2"></script>

  <!-- Popper -->
  <script src="/public/plugins/popper/popper.umd.min.js?v=2"></script>

  <!-- Canvas JS -->
  <script src="/public/plugins/canvasJs/canvasjs.min.js?v=2"></script>

  <!-- Custom Script -->
  <script src="/public/custom/App.js?v=2"></script>

  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      // Declarations
      App.checkAccess();
      let view_purchase_payment_id = "";
      let selected_proc_product_id = "";
      let selected_proc_product_name = "";
      let selected_proc_supplier_id = "";
      let selected_proc_supplier_name = "";
      let selected_payment_supplier_id = "";
      let selected_payment_supplier_name = "";
      let selected_payment_lot_id = "";
      let selected_payment_lot_no = "";

      var tooltipTriggerList = [].slice.call(
        document.querySelectorAll('[data-bs-toggle="tooltip"]')
      );
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
      });

      new PerfectScrollbar(".slideInPanel", {
        suppressScrollX: true,
      }).update();

      toastr.options = {
        closeButton: false,
        debug: false,
        newestOnTop: true,
        progressBar: true,
        positionClass: "toast-top-right",
        preventDuplicates: false,
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "5000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut",
      };

      // Global Functions
      // Function to format date as YYYY-MM-DD
      function formatDate(date) {
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        // Ensure 2-digit formatting
        if (day < 10) {
          day = "0" + day;
        }
        if (month < 10) {
          month = "0" + month;
        }

        return year + "-" + month + "-" + day;
      }

      function formatDateTime(dateTime) {
        var months = [
          "Jan",
          "Feb",
          "Mar",
          "Apr",
          "May",
          "Jun",
          "Jul",
          "Aug",
          "Sep",
          "Oct",
          "Nov",
          "Dec",
        ];
        var hours = dateTime.getHours();
        var minutes = dateTime.getMinutes();
        var ampm = hours >= 12 ? "PM" : "AM";
        hours = hours % 12;
        hours = hours ? hours : 12; // Handle midnight (0 hours)
        minutes = minutes < 10 ? "0" + minutes : minutes;
        var strTime = hours + ":" + minutes + " " + ampm;
        var month = months[dateTime.getMonth()];
        var day = dateTime.getDate().toString().padStart(2, "0"); // Ensure day is always two digits
        return day + "-" + month + "-" + dateTime.getFullYear() + " " + strTime;
      }

      // // ---------------------------------------------------------
      // // ----------------------- Dashboard -----------------------
      // // ---------------------------------------------------------

      // // Loading Charts
      // loadProcurementSpendBySuppliersChart(
      //   "days",
      //   $("#procurementSpendChartFilter").val()
      // );
      // loadProcurementByDateChart(
      //   "days",
      //   $("#procurementAnalysisByDateChartFilter").val(),
      //   null,
      //   null,
      //   "price"
      // );

      // loadProcurementAgeByProductsChart(
      //   "days",
      //   $("#procurementAgeByProductsFilter").val(),
      //   null,
      //   null
      // );

      // loadSupplierPerformanceScorecardChart(
      //   "days",
      //   $("#supplierPerformanceScorecardChartFilter").val(),
      //   null,
      //   null,
      //   "price"
      // );

      toastr["info"]("Feature comming soon...");

      // Chart Filters
      $(document).on("change", "#procurementSpendChartFilter", (e) => {
        if ($(".supplierFilter").hasClass("btn-danger")) {
          loadProcurementSpendBySuppliersChart("days", $(e.target).val());
        } else if ($(".productFilter").hasClass("btn-danger")) {
          loadProcurementSpendByProductsChart("days", $(e.target).val());
        }
      });

      $(document).on("change", "#procurementAnalysisByDateChartFilter", (e) => {
        if ($(".spendByDateFilter").hasClass("btn-danger")) {
          loadProcurementByDateChart(
            "days",
            $(e.target).val(),
            null,
            null,
            "price"
          );
        } else if ($(".quantityByDateFilter").hasClass("btn-danger")) {
          loadProcurementByDateChart(
            "days",
            $(e.target).val(),
            null,
            null,
            "quantity"
          );
        }
      });

      $(document).on("change", "#procurementAnalysisByDateChartFilter", (e) => {
        if ($(".spendByDateFilter").hasClass("btn-danger")) {
          loadProcurementByDateChart(
            "days",
            $(e.target).val(),
            null,
            null,
            "price"
          );
        } else if ($(".quantityByDateFilter").hasClass("btn-danger")) {
          loadProcurementByDateChart(
            "days",
            $(e.target).val(),
            null,
            null,
            "quantity"
          );
        }
      });

      $(document).on("change", "#procurementAgeByProductsFilter", (e) => {
        loadProcurementAgeByProductsChart(
          "days",
          $(e.target).val(),
          null,
          null
        );
      });

      $(document).on(
        "change",
        "#supplierPerformanceScorecardChartFilter",
        (e) => {
          if ($(".priceWisePerformanceFilter").hasClass("btn-danger")) {
            loadSupplierPerformanceScorecardChart(
              "days",
              $(e.target).val(),
              null,
              null,
              "price"
            );
          } else if (
            $(".quantityWisePerformanceFilter").hasClass("btn-danger")
          ) {
            loadSupplierPerformanceScorecardChart(
              "days",
              $(e.target).val(),
              null,
              null,
              "quantity"
            );
          }
        }
      );

      // Button Click Events
      $(document).on("click", ".supplierFilter", (e) => {
        $(".supplierFilter").removeClass("btn-outline-danger");
        $(".productFilter").removeClass("btn-danger");

        $(".productFilter").addClass("btn-outline-danger");
        $(".supplierFilter").addClass("btn-danger");

        loadProcurementSpendBySuppliersChart(
          "days",
          $("#procurementSpendChartFilter").val()
        );
      });

      $(document).on("click", ".productFilter", (e) => {
        $(".productFilter").removeClass("btn-outline-danger");
        $(".supplierFilter").removeClass("btn-danger");

        $(".supplierFilter").addClass("btn-outline-danger");
        $(".productFilter").addClass("btn-danger");

        loadProcurementSpendByProductsChart(
          "days",
          $("#procurementSpendChartFilter").val()
        );
      });

      $(document).on("click", ".spendByDateFilter", (e) => {
        $(".spendByDateFilter").removeClass("btn-outline-danger");
        $(".quantityByDateFilter").removeClass("btn-danger");

        $(".quantityByDateFilter").addClass("btn-outline-danger");
        $(".spendByDateFilter").addClass("btn-danger");

        loadProcurementByDateChart(
          "days",
          $("#procurementAnalysisByDateChartFilter").val(),
          null,
          null,
          "price"
        );
      });

      $(document).on("click", ".quantityByDateFilter", (e) => {
        $(".quantityByDateFilter").removeClass("btn-outline-danger");
        $(".spendByDateFilter").removeClass("btn-danger");

        $(".spendByDateFilter").addClass("btn-outline-danger");
        $(".quantityByDateFilter").addClass("btn-danger");

        loadProcurementByDateChart(
          "days",
          $("#procurementAnalysisByDateChartFilter").val(),
          null,
          null,
          "quantity"
        );
      });

      $(document).on("click", ".priceWisePerformanceFilter", (e) => {
        $(".priceWisePerformanceFilter").removeClass("btn-outline-danger");
        $(".quantityWisePerformanceFilter").removeClass("btn-danger");

        $(".quantityWisePerformanceFilter").addClass("btn-outline-danger");
        $(".priceWisePerformanceFilter").addClass("btn-danger");

        loadSupplierPerformanceScorecardChart(
          "days",
          $("#supplierPerformanceScorecardChartFilter").val(),
          null,
          null,
          "price"
        );
      });

      $(document).on("click", ".quantityWisePerformanceFilter", (e) => {
        $(".quantityWisePerformanceFilter").removeClass("btn-outline-danger");
        $(".priceWisePerformanceFilter").removeClass("btn-danger");

        $(".priceWisePerformanceFilter").addClass("btn-outline-danger");
        $(".quantityWisePerformanceFilter").addClass("btn-danger");

        loadSupplierPerformanceScorecardChart(
          "days",
          $("#supplierPerformanceScorecardChartFilter").val(),
          null,
          null,
          "quantity"
        );
      });

      // Chart Functions
      function loadProcurementSpendBySuppliersChart(
        filter_type,
        filter_days,
        from_date,
        to_date
      ) {
        if (filter_type == "days") {
          switch (filter_days) {
            case "7":
              var d = new Date();
              d.setDate(d.getDate() - 7);

              from_date = formatDate(d);
              to_date = formatDate(new Date());
              break;
            case "90":
              var d = new Date();
              d.setDate(d.getDate() - 90);

              from_date = formatDate(d);
              to_date = formatDate(new Date());
              break;
            case "180":
              var d = new Date();
              d.setDate(d.getDate() - 180);

              from_date = formatDate(d);
              to_date = formatDate(new Date());
              break;
            default:
              var d = new Date();
              d.setDate(d.getDate() - 30);

              from_date = formatDate(d);
              to_date = formatDate(new Date());
          }
        }

        $.ajax({
          url: `/api/v1/procurement/product/chart/spend/by/supplier?from_date=${from_date}&to_date=${to_date}`,
          method: "GET",
          dataType: "json",
          contentType: "application/json",
          crossDomain: true,
          processData: false,
          success: (data) => {
            let dataPoints = [];

            data?.data.map((item) => {
              dataPoints.push({
                label: item?.SupplierMaster?.supplier_name,
                y: parseFloat(item.total_amount) || 0,
              });
            });

            let procurementSpendChartOptions = {
              backgroundColor: "#f7f9fd",
              animationEnabled: true,
              zoomEnabled: true,
              theme: "light2",
              axisX: {
                interval: 1,
              },
              axisY2: {
                prefix: "₹ ",
              },
              data: [
                {
                  toolTipContent: "{label}: <strong>₹ {y}</strong>",
                  indexLabel: "₹ {y}",
                  type: "bar",
                  axisYType: "secondary",
                  dataPoints,
                },
              ],
            };

            new CanvasJS.Chart(
              "procurementSpend",
              procurementSpendChartOptions
            ).render();
          },
          error: (jqXhr, textStatus, errorThrown) => {
            if (jqXhr["status"] == 420) {
              toastr["warning"](jqXhr["responseJSON"]["message"]);
            } else {
              toastr["error"](jqXhr["responseJSON"]["message"]);
            }
          },
        });
      }

      function loadProcurementSpendByProductsChart(
        filter_type,
        filter_days,
        from_date,
        to_date
      ) {
        if (filter_type == "days") {
          switch (filter_days) {
            case "7":
              var d = new Date();
              d.setDate(d.getDate() - 7);

              from_date = formatDate(d);
              to_date = formatDate(new Date());
              break;
            case "90":
              var d = new Date();
              d.setDate(d.getDate() - 90);

              from_date = formatDate(d);
              to_date = formatDate(new Date());
              break;
            case "180":
              var d = new Date();
              d.setDate(d.getDate() - 180);

              from_date = formatDate(d);
              to_date = formatDate(new Date());
              break;
            default:
              var d = new Date();
              d.setDate(d.getDate() - 30);

              from_date = formatDate(d);
              to_date = formatDate(new Date());
          }
        }

        $.ajax({
          url: `/api/v1/procurement/product/chart/spend/by/product?from_date=${from_date}&to_date=${to_date}`,
          method: "GET",
          dataType: "json",
          contentType: "application/json",
          crossDomain: true,
          processData: false,
          success: (data) => {
            let dataPoints = [];

            data?.data.map((item) => {
              dataPoints.push({
                label: item?.ProductMaster?.product_name,
                y: parseFloat(item.total_amount) || 0,
              });
            });

            let procurementSpendChartOptions = {
              backgroundColor: "#f7f9fd",
              animationEnabled: true,
              zoomEnabled: true,
              theme: "light2",
              axisX: {
                interval: 1,
              },
              axisY2: {
                prefix: "₹ ",
              },
              data: [
                {
                  toolTipContent: "{label}: <strong>₹ {y}</strong>",
                  indexLabel: "₹ {y}",
                  type: "bar",
                  axisYType: "secondary",
                  dataPoints,
                },
              ],
            };

            new CanvasJS.Chart(
              "procurementSpend",
              procurementSpendChartOptions
            ).render();
          },
          error: (jqXhr, textStatus, errorThrown) => {
            if (jqXhr["status"] == 420) {
              toastr["warning"](jqXhr["responseJSON"]["message"]);
            } else {
              toastr["error"](jqXhr["responseJSON"]["message"]);
            }
          },
        });
      }

      function loadProcurementByDateChart(
        filter_type,
        filter_days,
        from_date,
        to_date,
        type
      ) {
        if (filter_type == "days") {
          switch (filter_days) {
            case "7":
              var d = new Date();
              d.setDate(d.getDate() - 7);

              from_date = formatDate(d);
              to_date = formatDate(new Date());
              break;
            case "90":
              var d = new Date();
              d.setDate(d.getDate() - 90);

              from_date = formatDate(d);
              to_date = formatDate(new Date());
              break;
            case "180":
              var d = new Date();
              d.setDate(d.getDate() - 180);

              from_date = formatDate(d);
              to_date = formatDate(new Date());
              break;
            default:
              var d = new Date();
              d.setDate(d.getDate() - 30);

              from_date = formatDate(d);
              to_date = formatDate(new Date());
          }
        }

        $.ajax({
          url: `/api/v1/procurement/product/chart/spend/by/date?from_date=${from_date}&to_date=${to_date}`,
          method: "GET",
          dataType: "json",
          contentType: "application/json",
          crossDomain: true,
          processData: false,
          success: (data) => {
            let dataPoints = [];

            data?.data.map((item) => {
              let procurement_date = new Date(item?.procurement_date);

              dataPoints.push({
                // label: "₹ " + item.total_amount,

                x: new Date(
                  procurement_date.getFullYear(),
                  procurement_date.getMonth(),
                  procurement_date.getDate()
                ),
                y:
                  parseFloat(
                    type == "price"
                      ? item.total_amount
                      : item?.total_adjusted_quantity ||
                          item?.total_procurement_quantity
                  ) || 0,
              });
            });

            let procurementAnalysisByDateChartOptions = {
              backgroundColor: "#f7f9fd",
              animationEnabled: true,
              zoomEnabled: true,
              theme: "light2",
              axisX: {
                valueFormatString: "DD-MMM-YYYY",
                // crosshair: {
                //   enabled: true,
                //   snapToDataPoint: true,
                // },
                // minimum: 0,
              },
              axisY: {
                prefix: type == "price" ? "₹ " : "",
                suffix: type == "quantity" ? " kg" : "",
                // minimum: 0,
              },
              data: [
                {
                  toolTipContent:
                    type == "price"
                      ? "{x}: <strong>₹ {y}</strong>"
                      : "{x}: <strong>{y} kg</strong>",
                  // indexLabel: "₹ {y}",
                  type: "line",
                  xValueFormatString: "DD-MMM-YYYY",
                  dataPoints,
                },
              ],
            };

            new CanvasJS.Chart(
              "procurementAnalysisByDateChart",
              procurementAnalysisByDateChartOptions
            ).render();
          },
          error: (jqXhr, textStatus, errorThrown) => {
            if (jqXhr["status"] == 420) {
              toastr["warning"](jqXhr["responseJSON"]["message"]);
            } else {
              toastr["error"](jqXhr["responseJSON"]["message"]);
            }
          },
        });
      }

      function loadProcurementAgeByProductsChart(
        filter_type,
        filter_days,
        from_date,
        to_date
      ) {
        if (filter_type == "days") {
          switch (filter_days) {
            case "7":
              var d = new Date();
              d.setDate(d.getDate() - 7);

              from_date = formatDate(d);
              to_date = formatDate(new Date());
              break;
            case "90":
              var d = new Date();
              d.setDate(d.getDate() - 90);

              from_date = formatDate(d);
              to_date = formatDate(new Date());
              break;
            case "180":
              var d = new Date();
              d.setDate(d.getDate() - 180);

              from_date = formatDate(d);
              to_date = formatDate(new Date());
              break;
            default:
              var d = new Date();
              d.setDate(d.getDate() - 30);

              from_date = formatDate(d);
              to_date = formatDate(new Date());
          }
        }

        $.ajax({
          url: `/api/v1/procurement/product/chart/age/by/product?from_date=${from_date}&to_date=${to_date}`,
          method: "GET",
          dataType: "json",
          contentType: "application/json",
          crossDomain: true,
          processData: false,
          success: (data) => {
            let dataPoints = [];

            data?.data.map((item) => {
              dataPoints.push({
                quantity: item?.quantity || 0,
                label: item?.product_name,
                y: parseFloat(item.days_old) || 0,
              });
            });

            let procurementAgeByProductsChartOptions = {
              backgroundColor: "#f7f9fd",
              animationEnabled: true,
              zoomEnabled: true,
              theme: "light2",
              axisX: {
                interval: 1,
              },
              axisY: {
                title: "Age (Days)",
              },
              data: [
                {
                  toolTipContent: "{label}: <strong>{y} days</strong>",
                  indexLabel: "{y} days ({quantity} kg)",
                  type: "area",
                  dataPoints,
                },
              ],
            };

            new CanvasJS.Chart(
              "procurementAgeByProductsChart",
              procurementAgeByProductsChartOptions
            ).render();
          },
          error: (jqXhr, textStatus, errorThrown) => {
            if (jqXhr["status"] == 420) {
              toastr["warning"](jqXhr["responseJSON"]["message"]);
            } else {
              toastr["error"](jqXhr["responseJSON"]["message"]);
            }
          },
        });
      }

      function loadSupplierPerformanceScorecardChart(
        filter_type,
        filter_days,
        from_date,
        to_date,
        type
      ) {
        if (filter_type == "days") {
          switch (filter_days) {
            case "7":
              var d = new Date();
              d.setDate(d.getDate() - 7);

              from_date = formatDate(d);
              to_date = formatDate(new Date());
              break;
            case "90":
              var d = new Date();
              d.setDate(d.getDate() - 90);

              from_date = formatDate(d);
              to_date = formatDate(new Date());
              break;
            case "180":
              var d = new Date();
              d.setDate(d.getDate() - 180);

              from_date = formatDate(d);
              to_date = formatDate(new Date());
              break;
            default:
              var d = new Date();
              d.setDate(d.getDate() - 30);

              from_date = formatDate(d);
              to_date = formatDate(new Date());
          }
        }

        $.ajax({
          url: `/api/v1/procurement/product/chart/performance/by/supplier?from_date=${from_date}&to_date=${to_date}`,
          method: "GET",
          dataType: "json",
          contentType: "application/json",
          crossDomain: true,
          processData: false,
          success: (data) => {
            let dataPointsProcurement = [];
            let dataPointsAdjustment = [];

            data?.data.map((item) => {
              dataPointsProcurement.push({
                label: item?.SupplierMaster?.supplier_name,
                y:
                  parseFloat(
                    type == "price"
                      ? item.total_procurement_price
                      : item?.total_procurement_quantity
                  ) || 0,
                indexLabel:
                  type == "price"
                    ? parseFloat(item?.total_procurement_price) > 0
                      ? "₹ " + parseFloat(item?.total_procurement_price)
                      : ""
                    : parseFloat(item?.total_procurement_quantity) > 0
                      ? parseFloat(item?.total_procurement_quantity) + " kg"
                      : "",
              });

              dataPointsAdjustment.push({
                label: item?.SupplierMaster?.supplier_name,
                y:
                  parseFloat(
                    type == "price"
                      ? item.total_adjusted_price
                      : item?.total_adjusted_quantity
                  ) || 0,
                indexLabel:
                  type == "price"
                    ? parseFloat(item?.total_adjusted_price) > 0
                      ? "₹ " + parseFloat(item?.total_adjusted_price)
                      : ""
                    : parseFloat(item?.total_adjusted_quantity) > 0
                      ? parseFloat(item?.total_adjusted_quantity) + " kg"
                      : "",
              });
            });

            let supplierPerformanceScorecardChartOptions = {
              backgroundColor: "#f7f9fd",
              animationEnabled: true,
              zoomEnabled: true,
              theme: "light2",
              axisX: {
                interval: 1,
              },
              axisY2: {
                prefix: type == "price" ? "₹ " : "",
                suffix: type == "quantity" ? " kg" : "",
                // minimum: 0,
              },
              data: [
                {
                  toolTipContent: "{label}: <strong>₹ {y}</strong>",
                  type: "stackedBar",
                  axisYType: "secondary",
                  dataPoints: dataPointsProcurement,
                },
                {
                  toolTipContent: "{label}: <strong>₹ {y}</strong>",
                  type: "stackedBar",
                  axisYType: "secondary",
                  dataPoints: dataPointsAdjustment,
                },
              ],
            };

            new CanvasJS.Chart(
              "supplierPerformanceScorecardChart",
              supplierPerformanceScorecardChartOptions
            ).render();
          },
          error: (jqXhr, textStatus, errorThrown) => {
            if (jqXhr["status"] == 420) {
              toastr["warning"](jqXhr["responseJSON"]["message"]);
            } else {
              toastr["error"](jqXhr["responseJSON"]["message"]);
            }
          },
        });
      }
    });
  </script>
</html>
