<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SFE</title>

    <!-- Font Preloading -->
    <link
      rel="preload"
      href="/public/fonts/CassandraPersonalUse/CassandraPersonalUse-Regular.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/public/fonts/CerebriSansPro/CerebriSansPro-Regular.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="/public/plugins/font-awesome/css/all.min.css?v=2"
    />

    <!-- Bootstrap 
  <link href="/public/plugins/bootstrap/css/bootstrap.min.css?v=2" rel="stylesheet" />
  <script src="/public/plugins/bootstrap/js/bootstrap.min.js?v=2"></script> -->

    <!-- MDB5  -->
    <link href="/public/plugins/mdb5/css/mdb.min.css?v=2" rel="stylesheet" />
    <script src="/public/plugins/mdb5/js/mdb.es.min.js?v=2"></script>

    <!-- jQuery -->
    <script src="/public/plugins/jquery/jquery.min.js?v=2"></script>

    <!-- Select2 -->
    <link
      rel="stylesheet"
      href="/public/plugins/select2/css/select2.min.css?v=2"
    />
    <script src="/public/plugins/select2/js/select2.min.js?v=2"></script>

    <!-- Toast -->
    <link rel="stylesheet" href="/public/plugins/Toastr/toastr.min.css?v=2" />
    <script src="/public/plugins/Toastr/toastr.min.js?v=2"></script>

    <style>
      @font-face {
        font-family: "CassandraPersonalUse";
        src: url("/public/fonts/CassandraPersonalUse/CassandraPersonalUse-Regular.ttf?v=2")
          format("truetype");
        /* Replace with your font file path */
        /* font-display: swap; */
      }

      @font-face {
        font-family: "CerebriSansPro-Regular";
        src: url("/public/fonts/CerebriSansPro/CerebriSansPro-Regular.ttf?v=2")
          format("truetype");
        /* Replace with your font file path */
        /* font-display: swap; */
      }
    </style>
  </head>

  <body
    style="
      background-color: rgb(249, 243, 255);
      font-family: CerebriSansPro-Regular;
      align-items: center;
      overflow: hidden;
    "
  >
    <div
      class="container vh-100 d-flex justify-content-center align-items-center"
    >
      <div class="row justify-content-center align-items-center mx-auto">
        <div
          class="shadow col-sm-8 col-md-10 col-lg-12 p-4 bg-white mx-4"
          style="border-radius: 7px"
        >
          <div class="d-flex justify-content-center">
            <div
              class="bg-danger d-flex justify-content-center align-items-center"
              style="
                margin-top: -5.5rem;
                width: 110px;
                height: 110px;
                border-radius: 50%;
              "
            >
              <div
                class="bg-white d-flex justify-content-center align-items-center"
                style="width: 100px; height: 100px; border-radius: 50%"
              >
                <img
                  src="/public/images/group.png"
                  style="height: 8rem; width: 6rem"
                  alt=""
                />
                <!-- <i class="fas fa-ambulance text-danger" style="font-size: 2rem"></i> -->
              </div>
            </div>
          </div>
          <div
            class="d-flex flex-column justify-content-center align-items-center mt-3"
          >
            <label
              for="emergency label"
              style="font-family: CerebriSansPro-Regular"
              class="text-danger text-center fs-8 h3"
              >GroupM Nexus API</label
            >
            <hr class="text-muted" style="width: 100%" />
          </div>

          <div class="form-group mx-1 mt-2">
            <label for="username" class="mb-1">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              placeholder="eg. Username"
            />
          </div>
          <div class="form-group mx-1 mt-2">
            <label for="password" class="mb-1">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Password"
            />
          </div>

          <div class="form-group mx-1 mt-2">
            <label for="roles" class="mb-1">Role</label><br />
            <select
              class="form-control w-100"
              id="roles"
              name="roles"
              style="width: 100% !important"
            ></select>
          </div>

          <div class="mx-1 mt-3 pt-2 mb-1">
            <button type="submit" id="signin" class="btn btn-danger w-100">
              Login
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    jQuery(document).ready(function ($) {
      // Load Roles
      $.ajax({
        url: "/api/v1/roles",
        method: "GET",
        dataType: "json",
        contentType: "application/json",
        crossDomain: true,
        processData: false,
        success: ({ data }) => {
          // Loading data
          $("#roles").select2({
            placeholder: "Choose a role",
            allowClear: true,
            data: $.map(data.data, function (item) {
              return {
                id: item.id,
                text: item.role_name, // Adjust 'name' to match the property name in your data
              };
            }),
          });

          // Clearing selected value
          $("#roles").val(null).trigger("change");
        },
        error: (jqXhr, textStatus, errorThrown) => {
          if (jqXhr["status"] == 420) {
            toastr["warning"](jqXhr["responseJSON"]?.["message"]);
          } else {
            toastr["error"](jqXhr["responseJSON"]?.["message"]);
          }
        },
      });

      // Login Function
      $("#signin").on("click", function () {
        const username = $("#username").val();
        const password = $("#password").val();
        const role_id = $("#roles").val();

        if (!username || !password || !role_id) {
          toastr["warning"]("Fill all the required fields");
          return;
        }

        const role_name = $("#roles").select2("data")[0].text;

        let input_params = {
          username,
          password,
          role_id,
        };
        $.ajax({
          url: "/api/v1/auth/signin",
          method: "POST",
          dataType: "json",
          contentType: "application/json",
          data: JSON.stringify(input_params),
          crossDomain: true,
          processData: false,
          success: function (data) {
            if (role_name == "Admin") {
              window.location.href = "AdminMain";
            } else {
              window.location.href = "citizenMain";
            }

            sessionStorage.setItem("username", Inputusername);
          },
          error: function (jqXhr, textStatus, errorThrown) {
            if (errorThrown == "Forbidden") {
              toastr["warning"]("Invalid login credential!");
            } else {
              toastr["error"](jqXhr["responseJSON"]?.["message"]);
            }
          },
        });
      });
    });
  </script>
</html>
