<!-- @format -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BSE</title>

    <!-- Font Preloading -->
    <link
      rel="preload"
      href="/public/fonts/CassandraPersonalUse/CassandraPersonalUse-Regular.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/public/fonts/CerebriSansPro/CerebriSansPro-Regular.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />

    <!-- title logo -->
    <link rel="icon" href="/public/images/bse.png" type="image/icon type" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css?v=2"
    />

    <!-- Bootstrap 
<link href="/public/plugins/bootstrap/css/bootstrap.min.css?v=2" rel="stylesheet" />
<script src="/public/plugins/bootstrap/js/bootstrap.min.js?v=2"></script> -->

    <!-- MDB5  -->
    <link
      href="/public/plugins/MDB5-7.2.0/css/mdb.min.css?v=2"
      rel="stylesheet"
    />
    <script src="/public/plugins/MDB5-7.2.0/js/mdb.es.min.js?v=2"></script>

    <!-- jQuery -->
    <script src="/public/plugins/jquery/jquery.min.js?v=2"></script>

    <!-- Select2 -->
    <link
      rel="stylesheet"
      href="/public/plugins/select2/css/select2.min.css?v=2"
    />
    <script src="/public/plugins/select2/js/select2.min.js?v=2"></script>

    <!-- DataTable -->
    <link
      rel="stylesheet"
      href="/public/plugins/dataTables/datatables.min.css?v=2"
    />
    <script src="/public/plugins/dataTables/datatables.min.js?v=2"></script>
    <script src="/public/plugins/dataTables/dataTables.bootstrap5.min.js?v=2"></script>
    <!-- Responsive Datatable -->
    <link
      rel="stylesheet"
      href="/public/plugins/dataTables/datatables.responsive.min.css?v=2"
    />
    <script src="/public/plugins/dataTables/datatables.responsive.min.js?v=2"></script>

    <!-- Toast -->
    <link rel="stylesheet" href="/public/plugins/Toastr/toastr.min.css?v=2" />
    <script src="/public/plugins/Toastr/toastr.min.js?v=2"></script>

    <!-- perfect-scrollbar plugin -->
    <script src="/public/plugins/perfect-scrollbar/perfect-scrollbar.min.js?v=2"></script>

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="/public/plugins/font-awesome/css/all.min.css?v=2"
    />

    <!-- jQuery Confirm -->
    <link
      rel="stylesheet"
      href="/public/plugins/jquery-confirm/css/jquery-confirm.min.css?v=2"
    />
    <script src="/public/plugins/jquery-confirm/js/jquery-confirm.min.js?v=2"></script>

    <!-- Slide-in Panel -->
    <link
      rel="stylesheet"
      href="/public/plugins/slide-in-panel/css/slidePanel.min.css?v=2"
    />
    <script src="/public/plugins/slide-in-panel/js/slidePanel.min.js?v=2"></script>

    <!-- Tippy -->
    <link rel="stylesheet" href="/public/plugins/tippy/scale.css?v=2" />
    <script src="/public/plugins/tippy/popper.min.js?v=2"></script>
    <script src="/public/plugins/tippy/tippy-bundle.umd.min.js?v=2"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/public/css/style.css?v=2" />

    <!-- Custom Script -->
    <script src="/public/custom/App.js?v=2"></script>

    <style type="text/css">
      @font-face {
        font-family: "CassandraPersonalUse";
        src: url("/public/fonts/CassandraPersonalUse/CassandraPersonalUse-Regular.ttf?v=2")
          format("truetype");
      }

      @font-face {
        font-family: "CerebriSansPro-Regular";
        src: url("/public/fonts/CerebriSansPro/CerebriSansPro-Regular.ttf?v=2")
          format("truetype");
      }

      body {
        font-family: "CerebriSansPro-Regular";
        background-color: #f7f9fd;
      }

      .toast {
        opacity: 1 !important;
      }

      /* Table Pagination */
      .page-item.active .page-link {
        color: #fff !important;
        background-color: #ea5455 !important;
        border-color: #ea5455 !important;
      }

      .page-link {
        color: #000 !important;
        background-color: #fff !important;
        border: 1px solid #dee2e6 !important;
      }

      .page-link:hover {
        color: #fff !important;
        background-color: #f17979 !important;
        border-color: #ea5455 !important;
      }

      table.dataTable th {
        text-align: left !important;
      }
    </style>
  </head>

  <body>
    <div class="">
      <!-- Table Content -->
      <div class="rounded-2 d-flex justify-content-center mt-4 py-4">
        <div class="p-4 w-100">
          <table id="logReportTable" class="table table-hover nowrap w-100">
            <thead>
              <tr>
                <th></th>
                <th class="fw-bold"><span>Event Time</span></th>
                <th class="fw-bold"><span>Action Name</span></th>
                <th class="fw-bold"><span>URL</span></th>
                <th class="fw-bold"><span>Method</span></th>
                <th class="fw-bold"><span>IP Address</span></th>
                <th class="fw-bold"><span>User Agent</span></th>
                <th class="fw-bold"><span>Platform</span></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </body>

  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      // Declarations
      App.checkAccess();

      toastr.options = {
        closeButton: false,
        debug: false,
        newestOnTop: true,
        progressBar: true,
        positionClass: "toast-top-right",
        preventDuplicates: false,
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "5000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut",
      };

      $("#logReportTable").DataTable({
        // searching: true,
        destroy: true,
        responsive: false,
        processing: true,
        serverSide: true,
        scrollX: true,
        scrollY: "60vh",
        ordering: false,
        ajax: {
          type: "GET",
          url: "/api/v1/log/api",
          error: function (xhr, error, code) {
            $("#logReportTable").DataTable().destroy();
            $("#logReportTable").DataTable({ scrollX: true, ordering: false });

            if (xhr["status"] == 420) {
              toastr["warning"](xhr["responseJSON"]["message"]);
            } else {
              toastr["error"](xhr["responseJSON"]["message"]);
            }
          },
          dataSrc: function (json) {
            json.iTotalRecords = json.data?.rows?.length;
            json.iTotalDisplayRecords = json.data?.count;

            // Return the data to be displayed in the DataTable
            return json?.data?.rows;
          },
        },
        columns: [
          { data: null },
          { data: "created_at" },
          { data: "action_name" },
          { data: "url" },
          { data: "method" },
          { data: "source_i p_address" },
          { data: "user_agent" },
          { data: "platform" },
        ],
        columnDefs: [
          {
            targets: [0],
            className: "text-left",
            render: function (data, type, row) {
              return `<i class="fa-solid fa-eye view viewProcurementProducts" procurement_lot_id=${row?.id} aria-hidden="true" style="font-size:15px;color:#f07b3f" data-toggle="tooltip" data-placement="top" title="Click this button to edit this Procurement"></i>`;
            },
          },
          {
            targets: [0],
            className: "text-left",
            render: function (data, type, row) {
              const date = new Date(row["created_at"]);

              var months = [
                "Jan",
                "Feb",
                "Mar",
                "Apr",
                "May",
                "Jun",
                "Jul",
                "Aug",
                "Sep",
                "Oct",
                "Nov",
                "Dec",
              ];
              var hours = date.getHours();
              var minutes = date.getMinutes();
              var ampm = hours >= 12 ? "PM" : "AM";
              hours = hours % 12;
              hours = hours ? hours : 12; // Handle midnight (0 hours)
              minutes = minutes < 10 ? "0" + minutes : minutes;
              var strTime = hours + ":" + minutes + " " + ampm;
              var month = months[date.getMonth()];
              var day = date.getDate().toString().padStart(2, "0"); // Ensure day is always two digits
              return (
                day + "-" + month + "-" + date.getFullYear() + " " + strTime
              );
            },
          },
        ],
      });
    });
  </script>
</html>
